---
import ButtonFixed from '../components/ButtonFixed.astro';

interface Props {
	title: string;
	keywords: string
}
const url = 'https://artedentalcondesa.dentarios.com.mx'
const description = 'Somos una clínica dental especializada en transformar sonrisas mediante carillas, microcarillas e implantes híbridos. Con un enfoque innovador y tecnología de vanguardia, ofrecemos soluciones estéticas y funcionales de alta calidad para mejorar la apariencia y salud dental de nuestros pacientes. ¡Descubre cómo podemos hacer brillar tu sonrisa hoy mismo!'
const { title, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Meta datos necesarios para cargar imagen al mandar link -->
		<meta name="author" content="Leonel Valentín">
		<meta name="keywords" content={keywords}>
		<meta name="description" content={description} />
		<!-- open graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:image" content="https://artedentalcondesa.dentarios.com.mx/favicon.png" />
		<title>{title}</title>
		<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-WF3RY5RWFL"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-WF3RY5RWFL');
		</script>
	</head>
	<body class="bg-[#ffffffe6]">
		<div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]">
			<slot />
			<ButtonFixed />
		</div>
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		scroll-behavior: smooth;
	}
	*::selection {
		background-color: #0c6464;
		color: white;
	}
	body::-webkit-scrollbar {
		width: 12px;               /* width of the entire scrollbar */
	}
	body::-webkit-scrollbar-thumb {
		background-color: #0b3c3c;    /* color of the scroll thumb */
		border-radius: 20px;       /* roundness of the scroll thumb */
		border: 3px solid white;  /* creates padding around scroll thumb */
	}
</style>
