---
interface Props {
	title: string;
}
const description = ''
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Meta datos necesarios para cargar imagen al mandar link -->
		<meta name="author" content="Leonel Valentín">
		<meta name="keywords" content="">
		<meta name="description" content={description} />
		<!-- open graph -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<!--<meta property="og:url" content={url} />-->
		<meta property="og:image" content="https://vidaprenatal-maternofetal-ginecologia.mx/logo.png" />
		<title>{title}</title>
	</head>
	<body class="bg-[#ffffffe6]">
		<slot />
	</body>
</html>
<style is:global>
	:root {

	}
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
</style>
